body {
    padding: 50px 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.856)), 
           url('../imagens/background-2.png');
    background-size: cover; 
    height: 100vh;
    background-attachment: fixed;
    color: #e74c3c;
}

nav {
    background-color: bisque;
    width: 100vw;
    height: 50px;
    border-radius: 50% 50% 0px 0px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 0px;
    font-family: 'Great Vibes', cursive;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 1px 10px rgba(139, 125, 107, 0.719);
}

a {
    text-decoration: none;
    color: #ff5d4b;
    font-size: 1.4em;
    font-weight: bold;
}

h1 {
    font-family: cursive;
    font-size: 1.7em;
    color: #e74c3c;
    text-align: left;
}

h2 {
    text-align: center;
}

h2 span {
    color: aliceblue;
    font-size: 0.8em;
}

p {
    font-family: 'Lora', serif;
    font-size: 1.2em;
    line-height: 1.6;
    color: bisque;
    text-align: justify;
}
  

span {
    font-size: xx-large;
    text-align: center;
}

img {
    border-radius: 20px;
    box-shadow: 0px 0px 10px #e74c3c;
    margin: 10px;
}

.container {
    width: 90vw;
    height: 70vh;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.541);
}

.container h1 {
    text-align: center;
}

#buling {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 100px;
}

#img_container div {
    width: 90%;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
}

#img_container img {
    padding: 0;
    margin: 0 auto  ;
    width: 100px;
    height: 100px;
}

#img_container button {
    padding: 0;
    margin: 0;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.button {
    color: #e74c3c;
    background-color: rgb(255, 213, 161);
    border: none;
    border-radius: 4px;
    display: block;
    margin: auto;
    height: 40px;
    font-size: 1rem;
    width: 90px;
}

.fotosf img {
    width: 100px;
    height: 100px;
}

.fotosc img {
    width: 95%;
    height: 45%;
    margin-bottom: 20px;
}

.f button {
    width: 70px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px bisque;
    background-color: #fa9973;
    color: white;
    display: block;
    margin: 90px auto;
}

.f button:active {
    box-shadow: 5px 5px rgb(255, 72, 40);
    color: rgb(250, 94, 67);;
    transition: 0.5s;
}


